/* generals divs */
html, body{
    background: url('../src/fond.png') no-repeat fixed;
    background-size: cover;
    font-family: 'Ralewat', sans-serif;
    font-size: 0.96em;
    margin: 0; padding: 0;
    overflow: hidden;
    width: 100%;height: 100%;}
main, footer{
    background-color: #273135c5;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 1px solid;                                                      
    position: absolute;
    }
main {
    width: 480px; height: 660px;
    top:10%;left : 33%;
    z-index: 5;}

#bar,#bar2{
    background-color: #273135d2;
    border: 1px solid black;
    border-bottom: 0;    
    border-radius: 10px 10px 0 0; 
    color: rgb(255, 241, 179);  
    cursor : pointer;  
    padding: 10px;
    position: absolute;
    text-align: center;
    user-select : none;
    z-index:10;}
article{
    padding-top : 10px;
    position: relative;
    width: 99%;
}
a{
    color: rgb(255, 241, 179);
    text-decoration: none;}
ul{ 
    list-style: none;
    margin: 0px; padding:0px;
}
.image {
    border-radius: 10px;
    padding:1%;
    position :absolute;
    width: 98%; height: 98%;
}
.boite{
    box-shadow: 0px 0px 10px 0px #000000 inset;
    border-radius: 10px;
    position: relative;
    width: 80px; height: 80px;
}
/*  --------------------- Profil window ------------------------*/

main>section{
    color: rgb(255, 241, 179);
    display:flex;
    margin: 1%;}
#bar{
    top:10%;left : 33%;
    width: 460px;
    z-index: 10;}
/* header */
#name {
    background : linear-gradient(to bottom, rgba(39,49,53,1) 0%,rgba(39,49,53,1) 59%,rgba(39,49,53,0.98) 60%,rgba(229,229,229,0) 100%);
    margin : 0 0 -22%;
    width: 100%; height: 31%;}
#name div{
    background-color:#0d1113c7;
    box-shadow: 0px 3px 10px 2px #000000 inset;
    margin:35px 3% -20px 3% ;padding-top:13px;
    text-align: center;
    width: 50%; height: 14%;}

/* menu */
main>section:nth-child(2){
    position: relative;
}
main>section:nth-child(2) div{
    border: 0.05em solid black;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    box-shadow: inset -2px 50px 39px -31px #171c1f;
    cursor : pointer;  
    font-size: 0.9em;
    margin: -4% 0 0 5%;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    width: 85px; height: 19px;
    z-index: 3;
}
main .select{
    background-color: #273135;
    z-index: 100!important;
}


main>section:nth-child(2) div:first-child{
    left:-4%;
}
main>section:nth-child(2) div:nth-child(2){
    left:19%;
}
main>section:nth-child(2) div:nth-child(3){
    left:42.2%;
}
main>section:nth-child(2) div:nth-child(4){
    left:65.4%;
}
main>section:nth-child(2) div:hover{
    box-shadow: none;
}
        
.salut{/* menus en retrait */
    display: none!important; 
}
main>section:nth-child(3){
    border-top: 0.1em black solid;
    border-radius: 10px;
    width:98%;height: 100%;
    position: absolute;
    z-index: 5;}
/* ----------------------------------- Equipement ----------------------------------------*/

#personnage{
    height: 85%;}
.stuff{
    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, #273135c5 100%);
    border-radius: 15px;
    margin:0% 2% 2% 0%;
    position: absolute;
    width: 130px; height: 94%;}
/* emplacement de stuff */
.stuff div{
    background-size: cover;
    box-shadow: 0px 0px 10px 0px #000000 inset;
    border-radius: 10px;
    margin : 20% 25px;
    width: 80px; height: 80px;
}
.stuff div:first-child{
    margin-top: 12.5%;
}
.stuff div:first-child{
    background: url("../src/head.svg");
}
.stuff div:nth-child(2){
    background: url("../src/armor.svg");
}
.stuff div:nth-child(3){
    background: url("../src/belt.svg");
}
.stuff div:nth-child(4){
    background: url("../src/hand.svg");
}
.stuff div:nth-child(5){
    background: url("../src/boots.svg");
}

/* profil pic */
#me{
    background: url("../src/perso.gif") no-repeat ;
    background-size: 200%; 
    background-position-x: 50%;
    background-position-y: 80%;  
    border : none;
    position: absolute;
    left: 28%;
    width: 40%; height: 85%;
}
.stuff:nth-child(3){
    right: 0%;
}
/* ------------------ stats  --------------------- */
#stats div{
    background-color: #1e2629cb;  
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #000000 inset; 
    display: block; 
    margin: 2%;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 97%; height: 78%;
}
/* ------------------ skills --------------------- */
label {
    background-color: #1e2629cb;  
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #000000 inset; 
    display: block; 
    margin: 2%;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 97%; height: 78%;
}
/* liste skills */
h3{
   margin-bottom: 30px;
   text-align: center;
}
.front .compet{ 
    background-color:#161d20;
    border: 0.1em black solid;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    display:flex;
    flex-wrap: wrap;
    height: 76px;
    margin: -2% 5%;
    transition:  0.4s;
}
.front .compet:first-child{
    margin-top: 4.7%;
}
.front .compet:hover{
    background-color:#1d272b;
    border-color: rgba(253, 234, 148, 0.247);
    box-shadow: 0px 0px 50px 10px #161d20 inset;
    height:86px ;
    margin-top: -19px;
    transition:  0.4s;
}
.front .compet:first-child:hover{
    margin-top: initial;
}
.front .ico{
    border: 0.1em black solid;
    box-shadow: 0px 0px 10px 0px #000000 inset;
    margin:1.5% 2% 2% 2%;
    width: 45px ; height:45px ;
}
.front .ico + div{
    width: 77%;
}
.front h5{
    margin-top:5px;
}
.front h5 + p{
    margin-top:-15px;
}


.meter { 
    background: #555;
    border-radius: 8px 20px ;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin-top: -8px;
    padding: 2px;
	position: relative;
    width:75%;height: 5px;
    opacity: 1;

}
.meter > span {
    transition: 0.2s linear;
    display: block;
    height: 100%;
    border-radius: 0px 20px ;
    background-color: rgb(218, 69, 58);
    box-shadow: inset 0 2px 9px  rgba(255, 255, 255, 0.027),inset 0 -2px 6px rgba(0, 0, 0, 0.267);
    overflow: hidden;
  }
.compet:nth-child(2) .meter > span{
    animation: progress1 1s ease-out;
    width: 90%;
}
.compet:nth-child(3) .meter > span{
    animation: progress2 1s ease-out;
    width: 85%;
}
.compet:nth-child(4) .meter > span{
    animation: progress3 1s ease-out;
    width: 80%;
}
.compet:nth-child(5) .meter > span{
    animation: progress4 1s ease-out;
    width: 20%;
}
.compet:nth-child(6) .meter > span{
    animation: progress5 1s ease-out;
    width: 60%;
}
.compet:nth-child(7) .meter > span{
    animation: progress6 1s ease-out;
    width: 60%;
}
.compet:nth-child(8) .meter > span{
    animation: progress7 1s ease-out;
    width: 3%;
}
.compet:nth-child(9) .meter > span{
    animation: progress8 1s ease-out;
    width: 3%;
}
.compet:nth-child(10) .meter > span{
    animation: progress9 1s ease-out;
    width: 3%;
}
@keyframes progress1 { 0% { width:0px;} 100%{ width:90%;}  }
@keyframes progress2 { 0% { width:0px;} 100%{ width:85%;}  }
@keyframes progress3 { 0% { width:0px;} 100%{ width:80%;}  }
@keyframes progress4 { 0% { width:0px;} 100%{ width:20%;}  }
@keyframes progress5 { 0% { width:0px;} 100%{ width:60%;}  }
@keyframes progress6 { 0% { width:0px;} 100%{ width:60%;}  }
@keyframes progress7 { 0% { width:0px;} 100%{ width:3%;}  }
@keyframes progress8 { 0% { width:0px;} 100%{ width:3%;}  }
@keyframes progress9 { 0% { width:0px;} 100%{ width:3%;}  }

/*tree skills */
.back section{
    display:flex;
    flex-direction: row;
}
.back .compet{
    border: 0.1em black solid;
    box-shadow: 0px 0px 10px 0px #000000 inset;
    margin:25px auto;
    width: 70px; height:70px ;
}

.back p{
    margin:85%;
}
.descri{
    background: black;
    top:0px;left:00px;
    width: 200px; height: 60px;
    z-index : 20;
}

.card {  
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
    width: 100%;height: 100%;
    z-index: 20;
}
.card>div {
    position: absolute;
   
    width: 100%;height: 100%;
    border-radius: 2px;
    
}
.scrollingbar{
    overflow-y: auto;
    
}

input {
    display: none;
}

:checked+.card, .card .back  {
    transform: rotateY(180deg);
}

/* ------------------ Hauts faits --------------------- */
/* sous menu des hauts faits */
#fait nav, #fait ul{
    display: flex;
}
#fait ul{
    margin-left: 50%;
    margin-top : 3px;
}
#fait li a{
    color: white;
    margin-left: 5px;
}
#fait li a:hover{
    color:rgb(253, 234, 148);
}
.color{
    color:rgb(253, 234, 148)!important;
}
#fait select{
    background-color:#0d1113c7;
    border:0px;
    color:rgb(255, 241, 179);
    margin-left: 10px;
    padding:5px;
    user-select : none;
}
#fait option{
    color:rgb(255, 241, 179);
    margin-left: 10px;
    padding:5px;
    user-select : none;
}
/* contenu */
#fait section{
    background-color: #1e2629;                          /*  Probablement */
    box-shadow: 0px 0px 15px 0px #000000 inset;         /*  à modifier   */
    border-radius: 10px;
    height: 74%;
    margin: 2%;padding: 1%;    
}
#fait .project{
    background-color:#0d1113ab;
    border-top : 2em solid;
    border-image: linear-gradient(to left, #0d111300 20%, rgba(0,0,0,1), #0d111300 80%)30;
    border-radius: 10px;
    cursor: pointer;
    height: 76px;
    margin: 2% 5%;
    transition: transform 0.3s;
}
#fait .project:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
#fait p:first-child{
    margin : -25px 0;
    text-align: center;
}
#fait .project div{
    display: flex;
    margin : 35px 20px;
}
#fait img{
    border-radius: 100px;
    margin: 5px 15px 0 -10px;
    width: 50px; height: 50px;
}

/* ------------------ Fenetre Inventaire --------------------- */

footer{
    background : rgba(39,49,53);
    width: 295px; height: 420px;
    top:40%;left : 61.6%;
}

#bar2{
    top:40%;left : 61.6%;
    width: 275px;height: 15px;
    z-index: 2;
}
footer section{
    align-content: center;
    border-top: 0.1em black solid;
    border-radius: 10px;
    bottom:1%;
    display:flex;
    flex-wrap: wrap;
    position: absolute;
    width: 98%; height:80%;
}
footer img{
    width: 100px; height: 100px;
}
footer .boite{
    background-color:#0d11134d;
    width: 45px; height: 45px;
    margin: 0.5%;
}

/* ----------------Scroll Bar ---------------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #0d11134d; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(42, 53, 58, 0.274); 
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px #000000 inset;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.699); 
    box-shadow: 0px 0px 15px 0px #000000 inset;
}

